.signup_container{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    /* background-color: #f5f5f5; */
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.signup_form_container{
    width: 60%;
    height: 100%;
   
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    box-shadow: 0px 3px 3px -2px rgb(000/20%), 0px 3px 4px 0px rgb(000/14%), 0px 1px 8px 0px rgb(000/12%);
}
.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-image: linear-gradient(250deg, #14beec, #394aa8);
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px ;
}
.left h1{
    margin-top: 0;
    color: white;
    font-size: 35px;
    align-self: center;
}
.right{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
}
.right h1{
    background: -webkit-linear-gradient(90deg, #14beec, #3948a8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
.form_container h1{
    font-size: 40px;
    margin-top: 0;
}
.input{
    outline:none;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: #f5f5f5;
    /* margin: 5px 0; */
    font-size: 14px;

}
.error_msg{
    width: 370px;
    padding: 15px;
    margin: 5px 0;
    font-size: 14px;
    background-color: #f34646;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.white_btn,
.green_btn{
    border: none;
    outline: none;
    padding: 12px 0;
    background-color: white;
    border-radius: 10px;
    width: 180px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    
    
}
.green_btn{
    background-color: white;
    background-image: linear-gradient(5deg, #14beec, #394aa8);
    color: white;
    margin-top: 10px;
    width: 375px;
   
}
@media (max-width: 1024px) {
    .left {
      display: none;
    }
    .right{
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      margin-left: -50px;
      
    }
    .input{
        width: 90%;
    }
    .green_btn{
        width: 330px;
    }
    
  }

